<div class="well">
    <form  class="form">
        <legend>Vehicle Details</legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Item Category</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Item Title</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Item Type</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Vehicle No.</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Chassis No.</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Engine No.</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Make</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Colour</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Size</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Capacity</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Serial No.</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Suspension Type</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Garage Name</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Manufacturing Date</label>
                    <div class="controls"><input type="date" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Expiry Date</label>
                    <div class="controls"><input type="date" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Registration Date</label>
                    <div class="controls"><input type="date" class="form-control"></div>
                </div>
            </div>
        </div>

    </form>
</div>