
<div class="row">
    <a ui-sref="vehicles.create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Vehicle</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>


                    <th>Vehicle No.</th>
                    <th>Type</th>
                    <th>Model</th>
                    <th>Capacity</th>


                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>