<div data-ng-controller="HeaderController" >
 <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" ng-class="{'cbp-spmenu-open': open}" data-ng-show="global.authenticated">
    <!--<h3>&nbsp;</h3>-->
     <div><img src="/img/logo_360_white.svg" alt="" style="width:100%;"/></div>
   <main-menu links="menu"></main-menu>
       </nav>
<div id="mainNav" class="navbar navbar-inverse default navbar-fixed-top mainNavTran">
<div >

    <ul class="nav navbar-nav">
   
        <li><div class="navbar-header">
             <button class="toggleMenu" ng-click="openMenu()" data-ng-show="global.authenticated">
         <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/">TMS</a>
            </div>
            
        </li>
<!--        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>-->
    </ul>

    <ul class="nav pull-right navbar-nav" data-ng-hide="global.authenticated">
        <li><a href="signup">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">Signin</a>
        </li>
    </ul>
    <ul class="nav pull-right navbar-nav" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell fa-lg"></i>
                <div class="label label-danger">94</div>
            </a>
            <ul class="dropdown-menu dropdown-menu-right notifications" role="menu" aria-labelledby="dLabel">
                <div class="notification-heading">
                    <div class="menu-title">Notifications</div>

                </div>

                <div class="notifications-wrapper">
                    <a class="content" href="#">
                        <div class="notification-item">
                            <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                            <p class="item-info">Marketing 101, Video Assignment</p>
                        </div>
                    </a>
                    <a class="content" href="#">
                        <div class="notification-item">
                            <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                            <p class="item-info">Marketing 101, Video Assignment</p>
                        </div>
                    </a>
                    <a class="content" href="#">
                        <div class="notification-item">
                            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                            <p class="item-info">Marketing 101, Video Assignment</p>
                        </div>
                    </a>
                    <a class="content" href="#">
                        <div class="notification-item">
                            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                            <p class="item-info">Marketing 101, Video Assignment</p>
                        </div>
                    </a>
                    <a class="content" href="#">
                        <div class="notification-item">
                            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                            <p class="item-info">Marketing 101, Video Assignment</p>
                        </div>
                    </a>
                    <a class="content" href="#">
                        <div class="notification-item">
                            <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                            <p class="item-info">Marketing 101, Video Assignment</p>
                        </div>
                    </a>
                </div>

                <div class="notification-footer">
                    <a href="#">
                    <div class="menu-title">View all <i class="fa fa-arrow-circle-right fa-lg"></i>
                    </div>
                    </a>
                </div>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
    </div>
    </div>