<div data-ng-controller="HeaderController" >
 <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" ng-class="{'cbp-spmenu-open': open}" data-ng-show="global.authenticated">
    <!--<h3>&nbsp;</h3>-->
     <div><img src="/img/logo_360_white.svg" alt="" style="width:100%;"/></div>
   <main-menu links="menu"></main-menu>
       </nav>
<div id="mainNav" class="navbar navbar-inverse default mainNavTran navbar-fixed-top">
<div >

    <ul class="nav navbar-nav">
   
        <li><div class="navbar-header">
             <button class="toggleMenu" ng-click="openMenu()" data-ng-show="global.authenticated">
         <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/">TMS</a>
            </div>
            
        </li>
<!--        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>-->
    </ul>

    <ul class="nav pull-right navbar-nav" data-ng-hide="global.authenticated">
        <li><a href="signup">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">Signin</a>
        </li>
    </ul>
    <ul class="nav pull-right navbar-nav" data-ng-show="global.authenticated">
        <li class="dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropdown-toggle>
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
    </div>
    </div>