.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer .footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
.container
{
    max-width:96%;
}

/*to show ngMessages*/
/*color for error*/

.error-messages{
    -webkit-transition:60ms linear all;
  transition:60ms linear all;

}
.error-messages.ng-active {
background-color: #e74c3c;
border-color: #e74c3c;
color: #ffffff;
  padding:5px;
  margin-top:5px;
  position:relative;

	border-radius: 3px;
	/* remember to add this */
  display:block!important;
  opacity:1;
 
}
.error-messages.ng-inactive {
  opacity:0;
 height: 0px;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-14px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent #e74c3c;
  border-width:7px;
}


/*invalid input class*/
input.ng-invalid{
  border-color: #e54a31;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-left: 5px solid #e74c3c;
}
input.ng-invalid:focus {
  border-color: #ca3219;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f09a8c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f09a8c;
}
div[ng-message]{
display: inline;
}
 .form-group.required .control-label:after {
   content:" *"; color: #ca3219;
   font-size: 1.4em; 
   line-height: 0px; 
}
/*another example of showing error message */
.error-messages1{
    -webkit-transition:60ms linear all;
  transition:60ms linear all;
}
.error-messages1.ng-active {
  background:#E74C3C;
  color:white;
  padding:0 5px 5px 5px;
  /*border-radius:5px;
  margin-top:15px;*/
  position:relative;
  display:inline-block;
  opacity:1;
}
.error-messages1.ng-active:after {
position: absolute;
bottom: -8px;
content: "";
right: 0;
border-style: solid;
border-color: #E74C3C #E74C3C transparent transparent;
border-width: 7px;
}
.error-messages1.ng-inactive {
  opacity:0;
}

.table{
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

/*increase width of trip modal*/
.tripModal .modal-dialog {
    width:100%;
}
/* setting z-idex of google places picker to work with modal*/
.pac-container{
z-index: 1500;
}
/*display vehicle number in upper case always*/

input[vehicleno]{
text-transform: uppercase;
}
/*over ride modal-lg class of bootstrap*/
@media (min-width: 992px) {
  .modal-lg {
    width: 90%;
  }
}

.scrollit {
    overflow:scroll;
    height:100px;
}

th{
font-weight: 500;
}

/*css for login page*/
/*-----------------------------------*/
html.bgImg {
    background-image: url("/img/truck.jpeg");
    /*url("http://placekitten.com/1920/1120");*/
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-size: 100%;

}

html.bgImg body{
    background-color: transparent;
}
.formholder{
    padding-left: 20px;
    padding-right: 20px;
}
.white{
    /*top:200px;*/
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    /*opacity: 0.9;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.whiteblur{
    background-image: url("/img/blur.png");
    background-repeat: repeat;
}



.glass {
    position: relative;

    border: 1px solid #ccc;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.glass::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("/img/logo.svg");
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    content: "";
    filter: url("/img/logo.svg");
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter:url(#blur-effect-1);
}


.svg-image-blur {
    position: absolute;
    top: -50000px;
    left: -50000px;
}
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: url(#blur-effect-1);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    zoom: 1;
}

.gaussian-blur {
    height: 100%;
    width: 100%;
    background: url('/img/truck.jpeg') no-repeat bottom center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* width: 455px; */
}





.img_logo{
    width: 100%;

    padding-bottom: 10px;
}
.logo_container {
    background: url('/img/logo_360.svg') no-repeat top center transparent;
    margin: 0 auto;
    /* margin-bottom: 25px; */
    text-indent: -119988px;
    /* overflow: hidden; */
    /* text-align: center; */
    height: 100px;
    width: 380px;
    /* background-size: 450px 100px; */
    margin-bottom: 10px;
}


.tripmap-canvas { height: 550px; }


/*.tripOrderPage{*/
    /*min-height: 1200px;*/
/*}*/


.sideMenu{
    overflow-y: auto;
    height: 93%;
    padding-top: 5px;
}

/*sidemenu list item gradiant*/
.sideMenu li{
    background: #0c304a; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c304a 0%, #082133 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c304a), color-stop(100%,#082133)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c304a 0%,#082133 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c304a 0%,#082133 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c304a 0%,#082133 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0c304a 0%,#082133 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c304a', endColorstr='#082133',GradientType=0 ); /* IE6-9 */


}
.sideMenu li a>i {
    position: relative;
    float: left;
    width: 35px;
    margin: -10px -10px;
    margin-right: 5px;
    overflow: hidden;
    line-height: 40px;
    text-align: center;
}
.sideMenu ul>li{
    border-bottom:1px solid #0E3857 ;
}

.sideMenu a:link {
    text-decoration: none;
    color:#BDBABA;
}

.sideMenu .side-icon{
    /*color:#D5D522;*/
    /*color:#2EA6DE;*/
}

.sideMenu a:visited {
    text-decoration: none;
    color:#BDBABA;
}

.sideMenu a:hover {
    text-decoration: none;
    color:#FFF;
}




.sideMenu a:active {
    text-decoration: none;
}
.sideMenu li.active a{
    color:#FFF;
}

/*css for scrollBar*/
::-webkit-scrollbar {
    width: 6px;
    background-color: #fff0f0;
}
::-webkit-scrollbar:hover {
    width: 20px;

}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
:-webkit-scrollbar-track:hover{
    width: 20px;
}

::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.map{
    margin: 30px 0 30px 0;
    border: 3px solid rgb(43, 45, 41);
}

form >legend:first-child{
    font-size: 2em;
}

#mainView{
    margin-top: 65px;
}


.tab-content{
    padding:10px;
}
.signin .fa{
    color: #0C304A;

}
.signin a{
    color: #fff;
}


/*for dropdown notification*/


.notifications {
    min-width:320px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*background-color:#0c304a;*/
}


.notifications-wrapper {
    overflow:auto;
    max-height:250px;
    background-color:#fff;
}

.menu-title {
    /*color:#fff;*/
    font-size:1.3rem;
    display:inline-block;
}



.notification-heading, .notification-footer  {
    padding:10px 15px;
    /*background-color: #DEE2F2;*/
    color: #000;
    background-color: #F5F5F5;
    border-color: #bce8f1;
}

.notification-heading{
    border-bottom:1px solid #D0D0D0;
}
.notification-footer{
    border-top:1px solid #D0D0D0;
}

.notifications .item-title {

    font-size:1.2rem;
    color:#000;
    margin:1px;
}
.notifications .item-info{
    font-size: 1.1rem;
    margin:1px;
}
.notifications a.content {
    text-decoration:none;
    /*background:#ccc;*/

}

.notifications a.content:hover{
    background-color: #EDF4FB;
}

.notification-item {
    padding:10px;
    /*margin:1px 5px 1px 5px;*/
    background-color:inherit;

    /*border-radius:4px;*/
    border-bottom:1px solid #D0D0D0;
}




.open > .dropdown-menu {
    /*-webkit-transform: scale(1, 1);*/
    /*transform: scale(1, 1);*/
    /*opacity:1;*/
}

.dropdown-menu {
    /*opacity:.3;*/
    /*-webkit-transform-origin: top;*/
    /*transform-origin: top;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*animation-fill-mode: forwards;*/
    /*-webkit-transform: scale(1, 0);*/
    /*display: block;*/
    /*transition: all 0.4s ease-in-out;*/
    /*-webkit-transition: all 0.4s ease-in-out;*/
}


/*for dropdown notification*/


/*widget */
.widget-icon {

    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
}
.widget-icon i{
    line-height: 66px;
    color: #fff;
    font-size: 30px;
}
.widget .title {
    font-size: 28px;
    display: block;
}
.widget .content{
    margin-top: 9px;
    padding-left: 80px;
}
.widget a{
    color:inherit;
    text-decoration: none;
}
/*widget */