.grid-container{
    /*width: 1090px;*/
}
#mainView{
    min-hight:500px ;
}
.grid {
    /*min-width: 1000px;*/
    width: 100%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-grid-pager-max-pages-number {
    /*font-size:2rem;*/
}
.ui-grid-pager-panel {
    /*font-size:1.7rem;*/
}
.ui-grid-pager-control input {
    line-height:normal;
}

.ui-grid-top-panel {
    font-weight:500;
}
.ui-grid-menu-button .ui-grid-icon-container {
    margin: 2px;
    padding: 2px;
}
.ui-grid-header-cell {
    text-align:center;
}

.ui-grid-cell-contents{
    padding: 5px 5px;
}
.ui-grid-cell-contents input,select,textarea{
    width: 100%;
    min-height: 28px;
    padding: 2px 4px 2px 2px;
    font-size: 11px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

div.ui-grid-cell input,select,textarea{
    width: 100%;
    min-height: 28px;
    padding: 2px 4px 2px 2px;
    font-size: 11px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
}