<div class="row">
<form>
<fieldset class="row">
    <legend>Details</legend>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Vehicle Number</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Chassis Number</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Vehicle Type</label>
            <div class="controls">
                <select class="form-control">
                    <option>Truck</option>
                    <option>Tanker</option>
                    <option>Tempo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Engine Number</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Size</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Colour</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Suspension Type</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Registration Date</label>
            <div class="controls">
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Capacity</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Make</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Manufacturing Date</label>
            <div class="controls">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Expiration Date</label>
            <div class="controls">
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Purchase Date</label>
            <div class="controls">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Model</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="row">
    <legend>Cost Details</legend>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Chassis Cost</label>
            <div class="controls">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">Rs</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Garage Name</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Contact Number</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Making Cost</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Address</label>
            <div class="controls">
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="row">
    <legend>Tyre Details</legend>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Tyre Number</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Tyre Type</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Make</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">size</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Warranty</label>
            <div class="controls">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">Kms</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</fieldset>
<fieldset class="row">
    <legend>Purchase Details</legend>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Cost</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Purchased From</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Contact Number</label>
            <div class="controls">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Address</label>
            <div class="controls">
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</fieldset>
</form>
</div>