<section>
	<form class="form" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Name</label>
			<div class="controls">
				<input type="text" data-ng-model="name" id="title" placeholder="Name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">sales Rep</label>
			<div class="controls">
			<input type="text" data-ng-model="salesrep" id="title" placeholder="sales rep" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>