    <form class="row form">
        <fieldset>
    <legend>Service Order</legend>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Transporter Name</label>
            <div class="controls">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Vehicle Number</label>
            <div class="controls">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Charges</label>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">                <select class="btn btn-default">                    <option>Per Month</option>                    <option>Per Day</option>                </select>                </span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Start Date</label>
            <div class="controls">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Contact no</label>
            <div class="controls">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Order Status</label>
            <div class="controls">
              <select class="form-control">
                <option>Open</option>
                <option>Closed</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Total Days</label>
            <div class="controls">
              <input type="text" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">End Date</label>
            <div class="controls">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Address</label>
            <div class="controls">
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        </fieldset>
      </form>
      <div class="row">
       <div class="table-responsive">
        <table class="table table-condensed table-bordered">
  <thead class="btn-info">
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days Served/Month</th>
      <th>Amount</th>
      <th>Total Amount</th>
      <th>Payments</th>
      <th>Invoice #</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Michael</td>
      <td>21</td>
      <td>100</td>
      <td>1000</td>
      <td>PID100</td>
      <td>INV101</td>     
    </tr>
    <tr>
      <td>2</td>
      <td>Jake</td>
      <td>21</td>
      <td>101</td>
      <td>1001</td>
      <td>PID101</td>
      <td>INV102</td>
    </tr>
  </tbody>
</table>
     </div>
      </div>