<section ng-controller="tripOrderCtrl" class="tripOrderPage">
    <form class="form">
    <tabset justified="true">
        <tab heading="Order Header">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Order No.</label>
                        <div class="controls">
                            <input type="text" class="form-control" disabled="disabled" ng-model="order._id">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">DO No.</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="order.doNo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <div class="controls">
                            <select class="form-control" ng-model="order.orderStatus">
                                <option value="open">Open</option>
                                <option value="confirmed">Confirmed</option>
                                <option value="closed">Closed</option>
                                <option value="cancelled">Cancelled</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Customer Name</label>
                        <div class="controls">
                            <input type="text" class="form-control" typeahead-wait-ms="500" ng-model="order.customer" typeahead="customer as customer.companyName  for customer in getCustomer($viewValue)" typeahead-template-url="views/partials/CustomerDropDown.html">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">Address
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Vehicle Number</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="order.vehicleNo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Driver</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="order.driver">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Product</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="order.productId">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Quantity</label>
                        <div class="controls">
                            <input type="number" class="form-control" ng-model="order.quantity">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Order Date</label>
                        <div class="controls">
                            <input type="date" class="form-control" ng-model="order.StartDate">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <div class="controls">
                            <input type="date" class="form-control" ng-model="order.EndDate">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Subcontractor </label>
                        <div class="input-group">
               <span class="input-group-addon">
                  <input type="checkbox" ng-model="order.isSubContracted" ng-change="viewIsSubContracted()">
               </span>
                            <input type="text" class="form-control" ng-disabled="!order.isSubContracted" ng-model="order.subcontractor">
                        </div><!-- /input-group -->
                        </div>
                </div>
            </div>
        </tab>
        <tab heading="Trip Lines" select="initializeMapControls()">
            <div class="row">

                <div class="col-xs-12">
                    <br/>


                        <section id="map" class="col-xs-offset-2 col-xs-8">
                            <div ui-map="data.myMap" ui-options="data.mapOptions" class="tripmap-canvas"></div>
                        </section>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                    <table class="table table-bordered table-condensed table-tripOrder">
                        <colgroup>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:6%"/>
                            <col span="1" />
                            <col span="1" style="width:6%"/>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:5%"/>
                            <col span="1" style="width:12%"/>
                            <col span="1" style="width:12%"/>
                        </colgroup>
                        <thead>
                        <tr class="info">
                        <th></th>
                        <th colspan="3">
                        <button class="btn btn-primary btn-sm"type="button" ng-click="addTrip()">add trip</button>
                        <button class="btn btn-primary btn-sm"type="button" ng-click="findPath()">Find Path</button>
                        </th>
                        <th colspan="4">Weight/Unit
                        <select class="pull-right units">
                        <option value="Kg">kilograms</option>
                        <option value="Kl">kilolitre</option>
                        <option value="t">tonne</option>
                        </select>
                        </th>
                        <th colspan="2">
                        Distance (Kma)
                        </th>
                        <th colspan="2">
                        Date
                        </th>

                        </tr>
                        <tr>
                        <th style="max-width: 5%"></th>
                        <th class="col-lg-" >Pick/Drop</th>
                        <th class="col-lg-" >Address</th>
                        <th class="col-lg-" >Challan No.</th>
                        <th class="col-lg-" >Tyre</th>
                        <th class="col-lg-" >Net</th>
                        <th class="col-lg-" >Gross</th>
                        <th class="col-lg-" >Shortage</th>
                        <th class="col-lg-" >Kms</th>
                        <th class="col-lg-" >Actual</th>
                        <th class="col-lg-" >Reporting</th>
                        <th class="col-lg-" >Loading/Unloading</th>



                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="trip in order.tripDetails">
                        <td>
                            <button class="btn btn-info btn-xs" ng-click="editTripLine(trip)">
                                <i class="fa fa-edit"></i>
                            </button></td>
                        <td >
                            <select class="" ng-model="trip.locationType">
                                <option value="UP">UP</option>
                                <option value="P">P</option>
                                <option value="D">D</option>
                                <option value="UD">UD</option>
                            </select>
                            </td>
                       <td><textarea   rows="2" places="" ng-model="trip.address"></textarea></td>
                        <!--<td ><input type="text" places="" ng-model="trip.address"></td>-->
                        <td ><input type="text" ng-model="trip.challanNo"></td>
                        <td ><input type="text" ng-model="trip.cargoWeight.tyreWeight"></td>
                        <td ><input type="text" ng-model="trip.cargoWeight.netWeight"></td>
                        <td ><input type="text" ng-model="trip.cargoWeight.grossWeight"></td>
                        <td ><input type="text" ng-model="trip.cargoWeight.shortage"></td>
                        <td ><input type="text" ng-model="trip.distance.calculated"></td>
                        <td ><input type="text" ng-model="trip.distance.actual"></td>
                        <td ><input type="datetime-local" ng-model="trip.date.reporting"></td>
                        <td ><input type="datetime-local" ng-model="trip.date.loadingUnloading"></td>
                        </tr>
                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>

            </div>

        </tab>
        <tab heading="Expenses">
            <br/>
            <button class="btn btn-primary" ng-click="AddExpenseLine()">Add Expense Line</button>
            <table class="table table-bordered table-condensed table-tripOrder">
                <thead>
                <tr>
                    <th>Item Category</th>
                    <th>Item Title</th>
                    <!--<th>Item ID</th>-->
                    <th>Description</th>
                    <th>Unit</th>
                    <th>Charges Per Unit</th>
                    <th>Total Units</th>
                    <th>Actual Cost</th>
                    <th>Sales Cost</th>
                    <th>Chargeable</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="expenseLine in order.finance">
                    <td><input type="text" ng-model="expenseLine.itemCategory"/></td>
                    <td><input type="text" ng-model="expenseLine.itemTitle"/></td>
                    <!--<td><input type="text" ng-model="expenseLine.itemId"/></td>-->
                    <td><input type="text" ng-model="expenseLine.description"/></td>
                    <td class="col-sm-2">
                        <div class="input-group">
                            <div class="input-group-addon">Per</div>
                            <select name="" >
                                <option value="">Hour</option>
                                <option value="">Day</option>
                                <option value="">Week</option>
                                <option value="">Month</option>
                            </select>
                            </div>
                        <!--<input type="text" ng-model="expenseLine.Unit"/>-->



                    </td>
                    <td><input type="text" ng-model="expenseLine.chargePerUnit"/></td>
                    <td><input type="text" ng-model="expenseLine.TotalUnits"/></td>
                    <td><input type="text" ng-model="expenseLine.actualCost"/></td>
                    <td><input type="text" ng-model="expenseLine.salesCost"/></td>
                    <td><input type="checkbox" ng-model="expenseLine.chargeable"/></td>
                </tr>
                </tbody>
            </table>
        </tab>


    </tabset>
        <button class="btn btn-primary" ng-click="saveTripOrder()">Save</button>
    </form>
</section>