extends auth

block auth
  form.signup.form(action="/users", method="post")
    fieldset
        legend Signup
        .form-group
          label.control-label(for='name') Full name
          input#name.form-control(type='text', name="name", placeholder='Full name', value=user.name)

        .form-group
          label.control-label(for='email') Email
          input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

        .form-group
              label.control-label(for='tenant') tenantId
              input#tenant.form-control(type='text', name="tenant", placeholder='tenantId', value=user.tenantId)

        .form-group
              label.control-label(for='username') Username
              input#username.form-control(type='text', name="username", placeholder='Username', value=user.username)



        .form-group
          label.control-label(for='password') Password
          input#password.form-control(type='password', name="password", placeholder='Password')

        .form-actions
          button.btn.btn-primary(type='submit') Sign up
          &nbsp;
          | or&nbsp;
          a.show-login(href="/signin") login
      div.blur.gaussian-blur
      div.blur.gaussian-blur