extends auth

block auth
   
    form.form.signin(action="/users/session", method="post")
       fieldset
        legend Signin
        .form-group
            input#email.form-control(type='text', name="email", placeholder='Email')

        .form-group
            input#password.form-control(type='password', name="password", placeholder='Password')

        .form-actions
            button.btn.btn-info.btn-block.btn-lg(type='submit') Sign in
            &nbsp;
            | or&nbsp;
            a.show-signup(href="/signup") Sign up
