<div class="well">
    <form>
        <legend>Employee Details</legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Employee Number</label>
                    <div class="controls">
                        <input type="text" disabled name="employeeID" class="form-control" data-ng-model="employee._id">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Middle Name</label>
                    <div class="controls">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Date of Birth</label>
                    <div class="controls">
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Sex</label>
                    <div class="controls">
                        <select class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Maritial Status</label>
                    <div class="controls">
                        <select class="form-control">
                            <option>Single</option>
                            <option>Married</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Date of Joining</label>
                    <div class="controls">
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Job Title</label>
                    <div class="controls">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Basic Salary</label>
                    <div class="input-group">
                        <div class="input-group-addon">Rs</div>
                        <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon">Per Month</div>

                    </div>
                </div>
            </div>
        </div>
        <legend>License Details</legend>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">License No</label>
                    <div class="controls">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Date of Issues</label>
                    <div class="controls">
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Date of Expiry</label>
                    <div class="controls">
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <tms-address></tms-address>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-ng-disabled="customerFrm.$invalid" data-ng-click="save()">Save</button>
                <button class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</div>