
<div class="row">
    <a ui-sref="employees.create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Employee</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>

                    <th>Employee No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Designation</th>
                    <th>Phone No.</th>
                    <th>Address</th>


                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>