<style>
.map-canvas { height: 575px; }
</style>
        <div class="row well well-sm">
<form role="form" class="col-md-3">
  <div class="form-group ">
      <div class="form-group">
          <h3>Distance {{distance}} Km</h3>

      </div>
    <input type="string" class="form-control" data-places="" id="location1" placeholder="From:" data-ng-model="fromLocation">
  </div>
  <div class="form-group">
    
    <input type="string" class="form-control" data-ng-model="toLocation" data-places="" id="location2" placeholder="To:">
  </div>
<button type="button" ng-click="findPath()" class="btn btn-default">Default</button>

</form>

<section id="map">
  <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
</section>
                </div>
        </div>
