<section>
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="name">name</label>
			<div class="controls">
				<input type="text" data-ng-model="name" id="name" placeholder="name" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tenantId">_id</label>
			<div class="controls">
				<input type="text" data-ng-model="_id" id="tenantId" placeholder="tenantId" required></input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>