<div id="page"  ng-controller="TabsDemoCtrl">

    <div class="row well well-sm">
        <form role="form" name="myForm">
            <fieldset>
                <legend>Customer Master</legend>
                <div class="row">


                    <div class="col-sm-3">


                        <div class="form-group ">
                            <label for="txtCustomerId" data-lblreq="">Customer ID</label>
                            <input type="text" class="form-control" id="txtCustomerId" name="txtCustomerId" placeholder="Customer ID" data-ng-model="Customer.CutomerID" readonly="true" />
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="form-group has-error">
                            <label for="txtxCustomerName" data-lblreq="">Customer Name</label>
                            <input type="text" class="form-control" id="txtxCustomerName" name="txtxCustomerName" placeholder="Customer Name" data-ng-model="Customer.CustomerName" />
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="form-group">
                            <label for="txtxSalesRep" data-lblreq="">Sales Representative</label>
                            <input type="text" class="form-control" id="txtxSalesRep" name="txtxSalesRep" placeholder="Sales Representative" data-ng-model="Customer.SalesRep" />
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                    </div>


                    <div class="col-sm-3">


                        <div class="form-group">
                            <label for="txtCustomerEmail" data-lblreq="">date</label>
                            <input type="date" class="form-control" id="Email1" name="txtCustomerEmail" placeholder="Customer Email" ng-model="data" />
                        </div>

                        <div class="form-group">
                            <label for="txtCustomerEmail" data-lblreq="">Customer Email</label>
                            <input type="email" class="form-control" id="txtCustomerEmail" name="txtCustomerEmail" placeholder="Customer Email" data-ng-model="Customer.Email" />
                        </div>
                        <div class="form-group">
                            <label for="txtdate" data-lblreq="">Date</label>
                            <div class="input-group">
                                <input class="form-control" type="text" datepicker-popup="dd-MM-yyyy" show-weeks="false" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" 
                                    
                                     ng-required="true"  />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="open()"><span class="glyphicon glyphicon-calendar"></span></button>
                                </span>
                               
                            </div>
                            <div class="form-group">
                                 <input name="selstate" class="form-control" ng-model='result' typeahead-editable="false" typeahead-on-select='onSelect($item, $model, $label)' typeahead='state.code as state.name for state in states1 | filter:$viewValue'>
                                <p class="help-block" data-ng-show="myForm.selstate.$error.editable">Invalid</p>
                            </div>
                            <div class="form-group">
                                <label for="txtstate" data-lblreq="">state</label>
                                 <input name="txtstate" class="form-control" ng-model='state' required>
                            </div>
                            <!-- /input-group -->
                            <!--<input class="form-control" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                            <span class="input-group-btn">
                                <button class="btn btn-info" ng-click="open()"><span class="glyphicon glyphicon-calendar"></span></button>
                            </span>-->
                        </div>

                        <div class="form-group">
                            <label for="txtCustomerEmail" data-lblreq="">Time</label>
                            <input type="time" class="form-control" id="time" name="txtCustomerEmail" placeholder="Customer Email" />

                        </div>


                    </div>
                    <div class="col-sm-3">


                        <div class="form-group">
                            <label class="control-label" for="txtCustomerCredit">Credit Limit</label>
                            <div class="input-group">
                                <span class="input-group-addon">{{CurrencySymbol}}</span>
                                <input type="number" class="form-control" id="txtCustomerCredit" name="txtCustomerCredit" data-ng-model="Customer.CreditLimit" />

                            </div>
                        </div>
  <div class="form-group">
                            <label class="control-label" for="txtstatus">Status</label>
                            
                                
                                <select class="form-control" id="txtcustomerstatus" name="txtcustomerstatus"  >
	   <option value="active">Active</option>
  <option value="inactive">Inactive</option>
	  </select>

                          
                        </div>




                    </div>
                    <div class="col-sm-3">
                        <!--    <fieldset>
                        <legend>&nbsp;</legend>
                      <div class="form-group row">
                            <div class="col-sm-5">
                            <div ng-model="mytime"  class="" style="display: inline-block;">
                                <timepicker hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
                            </div>
                                </div>
                            <div class="col-sm-9"></div>
                        </div>
                          </fieldset>-->
                    </div>

                </div>
            </fieldset>
            <div class="row">
				<div class="col-lg-12">
				
							 
				<ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a ui-sref=".contacts" data-toggle="tab">contacts</a></li>
                <li><a ui-sref=".address" data-toggle="tab">address</a></li>
                <li class="disabled"><a>Disabled</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Dropdown <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                    <li class="divider"></li>
                    <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                  </ul>
                </li>
              </ul>
				<div class="tab-content">
				<section ui-view=""></section>
  				</div>
		<!--<a ui-sref=".address">address</a>
				<a ui-sref=".contacts">contact</a>
            <div ui-view=""></div>-->
              </div>
            </div>
            <button type="submit" class="btn btn-success">SAVE</button>
            <button type="button" class="btn btn-danger">CANCEL</button>
        </form>
    </div>

</div>

