<form xmlns="http://www.w3.org/1999/html">
    <!-- <div class="row">          <legend>Customer</legend>          <div class="col-md-4"></div>          <div class="col-md-4"></div>          <div class="col-md-4"></div>        </div>-->
    <div class="row">
        <h4>Details</h4>
        <hr>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" class="form-control" data-ng-model="customer.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">ID</label>
                <div class="controls">
                    <input type="text" class="form-control" data-ng-model="customer.id">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Contact no</label>
                <div class="controls">
                    <input type="text" class="form-control" data-ng-model="customer.contact">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Website</label>
                <div class="controls">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">e-mail</label>
                <div class="controls">
                    <input type="text" class="form-control" data-ng-model="customer.email">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Address</label>
                <div class="controls">
                    <textarea class="form-control" rows="4" data-ng-model="customer.address"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Credit Details</h4>
        <hr>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Credit Limit</label>
                <div class="controls">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="customer.credit.limit">
                        <span class="input-group-addon">Rs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Credit Period</label>
                <div class="controls">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="customer.credit.period">
                        <span class="input-group-addon">Months</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <h4>Sales Representative</h4>
        <hr>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Sales Represntative</label>
                <div class="controls">
                    <input type="text" class="form-control" data-ng-model="customer.salesrep.name">
                </div>
            </div>
            <button class="btn btn-primary" data-ng-click="create()">Save</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Phone Number</label>
                <div class="controls">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Mobile Number</label>
                <div class="controls">
                    <input type="text" class="form-control" data-ng-model="customer.salesrep.phoneno">
                </div>
            </div>
        </div>
    </div>
</form>