
<!--<div class="row">-->
    <!--<a ui-sref="customers.create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Customer</a>-->
<!--</div>-->
<div class="row">

    <div class="col-sm-12">
        <div class="well grid-container" style="margin: 0 auto">
            <h3>Customers <a ui-sref="customers.create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Customer</a></h3>
            <br />
      <div ui-grid="gridOptions"   ui-grid-exporter ui-grid-pagination ui-grid-auto-resize class="grid"></div>
    </div>
    </div>

</div>