
<div class="container">
    <div class="row">
        <form>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Customer ID</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Customer Name</label>
                    <div class="controls"><input type="text" class="form-control"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Payment ID</th>
                <th>Payment Amt.</th>
                <th>Balance Amt.</th>
                <th>Payment Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="radio">
                        <label><input type="radio" name="payment"></label>
                    </div>

                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="radio">
                        <label><input type="radio" name="payment"></label>
                    </div>

                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th><div class="checkbox">
                    <label>
                        <input type="checkbox" value="true">
                    </label>
                </div></th>
                <th>Invoice #</th>
                <th>Invoice Amt.</th>
                <th>Due Amt.</th>
                <th>Invoice Date</th>
                <th class="col-sm-2">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><div class="checkbox">
                    <label>
                        <input type="checkbox" value="true">
                    </label>
                </div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            <tr>
                <td><div class="checkbox">
                    <label>
                        <input type="checkbox" value="true">
                    </label>
                </div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" class="form-control col-sm-4"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <p class="pull-right">Total Amount</p>
                </td>
                <td>400 Rs</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
